@model Shaka.Model.User

@{
    Layout = null;
    ViewBag.Title = "Welcome to YeZiLiu";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        body {MARGIN: 0px;background-image: url();}
        .STYLE1 {font-size: 14px}
        .STYLE2 {font-size: 15px}
        .div1
        {
            padding-left:30px;
            background:url(../../Images/Login/1.png) 4px  no-repeat;
            background-color:#FFFFFF;
            width:140px;
            height:27px;
            line-height:25px;
            border:1px solid #ccc;
	    }
	    .div2
	    {
            padding-left:30px;
            background:url(../../Images/Login/2.png) 4px  no-repeat;
            background-color:#FFFFFF;
            width:140px;
            height:27px;
            line-height:25px;
            border:1px solid #ccc;
	    }
        input
        {
            border:0;
            font-size:18px;	
        }
    </style>
    <script type="text/javascript">
        var id = 0;
        function ChangeIdentifyingCode() {
            var identifyingImg = document.getElementById("identifyingCode");
            var urlNew = '/Account/IdentifyingCode/'+ id;
            identifyingImg.src = urlNew;
            id++;
        }

        function CheckIdentifying() {
            //测试
            return true;
            var txtIdentifyingCode = document.getElementById("txtIdentifyingCode");
            var identifyingCodeCookie = GetCookie("IdentifyingCode").toUpperCase();
            if (txtIdentifyingCode.value.toUpperCase() != identifyingCodeCookie) {
                alert('验证码错误');
                txtIdentifyingCode.value = '';
                txtIdentifyingCode.focus();
                return false;
            }
        }

        function GetCookie(objName) {
            var strArray = document.cookie.split(";");
            for (var i = 0; i < strArray.length; i++) {
                var temp=strArray[i].split("=");
                if(temp[0]==objName)
                {
                    return unescape(temp[1]);
                }
            }
        }
    </script>
</head>
<body>
<img src="../../Images/Login/bg.jpg" width="100%" height="100%" style="z-index:-100;position:absolute;left:0;top:0">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="200">&nbsp;</td>
  </tr>
</table>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
<table width="543" height="255" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td background="../../Images/Login/kuang.png"><table width="320" border="0" align="center" cellpadding="0" cellspacing="15">
      <tr>
        <td width="25%"><span class="STYLE2">用户名：</span></td>
        <td width="75%">
            <div class="div1">
                @Html.TextBoxFor(m => m.UserId, new { @style = "height:22px;width:137px;outline:none;vertical-align:middle;" })
            </div>
        </td>
      </tr>
      <tr>
        <td width="25%"><span class="STYLE2">密　码：</span></td>
        <td width="75%"><div class="div2">
          @Html.PasswordFor(m => m.UserPwd, new { @style = "height:22px;width:137px;outline:none;vertical-align:middle;" })
        </div></td>
      </tr>
      <tr>
        <td><span class="STYLE2">验证码：</span></td>
        <td>
            <div style=" float:left; height:30px;">
                <input name="txtIdentifyingCode" type="text" id="txtIdentifyingCode" size="5" style="margin-top:3px;"/>
            </div>
            <div style=" float:left; height:30px;">
                <img id="identifyingCode" alt="验证码生成错误！" src="/Account/IdentifyingCode" onclick="ChangeIdentifyingCode();" style="margin-top:1px; margin-left:5px;"/> 
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
            <div align="center">
                <input onclick="return CheckIdentifying();" type="submit" value="" style="background-image:url(../../Images/Login/login.jpg);width:81px; height:26px;"/>
            </div>
        </td>
    </tr>
    </table>
    </td>
  </tr>
</table>
}
<table width="100%" height="140" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td height="26"><div align="center" class="STYLE1">版权信息　备案信息</div></td>
  </tr>
</table> 
</body>
</html>