<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
     <!--<add name="conn" connectionString="data source=192.168.22.125;Initial Catalog=HeadQ;User ID=datascan;Password=DTSbsd7188228;" />-->
     <add name="HQ" connectionString="data source=192.168.22.125;Initial Catalog=HeadQ;User ID=datascan;Password=DTSbsd7188228;" />
  </connectionStrings>
  <appSettings>
    <add key="DataAccess" value="Cuscapi.SQLServerDAL" />
    <add key="DeflateDefaultValue" value="10000" />

    <!---nettcp端口号-->
    <add key="TcpServerPort" value="9800"/>
   
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceThrottling maxConcurrentCalls="1000" maxConcurrentInstances="1000" maxConcurrentSessions="1000" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="Transight.HQV4.HQService.JsonService.Operations" behaviorConfiguration="metadataBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="Transight.HQV4.HQService.Contracts.IJsonOperation" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/HQWebService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>