<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="conn" connectionString="Data Source=192.168.23.19;Initial Catalog=REVDB;User ID=sa;Password=123!@#qwe"/>
  </connectionStrings>
  <appSettings>
    <add key="ftpServerIp" value=""/>
    <add key="path" value="Icon"/>
    <add key="ftpUserId" value=""/>
    <add key="ftpPassWord" value=""/>
  </appSettings>
</configuration>