<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GloryTP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <GloryTP.Properties.Settings>
            <setting name="GloryTP_WebReference1_TPLCashierMediaWebService"
                serializeAs="String">
                <value>http://10.132.250.3:8080/axis2/services/TPLCashierMediaWebService.TPLCashierMediaWebServiceHttpSoap11Endpoint/</value>
            </setting>
            <setting name="GloryTP_WebReference8843_TPLCashierMediaWebService"
                serializeAs="String">
                <value>http://10.132.250.3:8080/axis2/services/TPLCashierMediaWebService.TPLCashierMediaWebServiceHttpSoap11Endpoint/</value>
            </setting>
        </GloryTP.Properties.Settings>
    </applicationSettings>
</configuration>