<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <client>
        <endpoint address="http://127.0.0.1:3721/calculatorservice" binding="wsHttpBinding" 
                  contract="Artech.WcfServices.Service.Interface.ICalculator" name="calculatorservice" />
      </client>
    </system.serviceModel>
</configuration>