<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServerDownLoadURL" value="C:/"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior">
          <serviceMetadata httpGetEnabled="true" />
	  <serviceThrottling maxConcurrentCalls="10000" maxConcurrentInstances="10000" maxConcurrentSessions="10000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="123">
          <webHttp helpEnabled="true" faultExceptionEnabled="true" defaultBodyStyle="Wrapped"  defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="HttpBinding"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:10:00"
                 sendTimeout="10:00:00"
                 allowCookies="false"
                 bypassProxyOnLocal="false"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="4096"
                 maxReceivedMessageSize="2147483647"
                 transferMode="Streamed"
                 useDefaultWebProxy="true">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="FilesService.Demo.FilesService" behaviorConfiguration="MyBehavior">
        <endpoint binding="webHttpBinding" bindingConfiguration="HttpBinding" contract="FilesContract.Demo.IFilesService" address="" behaviorConfiguration="123"/>
      </service>
    </services>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
