<?xml version="1.0" encoding="utf-8" ?>
<!--注意：需要手工复制到执行目录-->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!-- log4net配置节，名称为“log” -->
  <log4net debug="true">
    <root>
      <!--RollingFileAppender事件日志-->
      <level value="INFO"/>
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <!--防止重复写：additivity="false"-->
    <logger name="INFO" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <!--动态生成日志文件：1、LogFileAppender的type为RollingFileAppender 2、StaticLogFileName为false-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
	  <param name="Encoding" value="utf-8"/>
      <param name="File" value="./Log/"/>
      <!--是否增加文件-->
      <param name="AppendToFile" value="true"/>
      <!--日志追加类型,Date为按日期增加文件,Composite为复杂模式,Size为按大小-->
      <param name="RollingStyle" value="Composite"/>   
      <datePattern value="&quot;Shaka_&quot;yyyyMMdd&quot;.log&quot;"/>
      <!--保留的log文件数量 超过此数量后 自动删除之前的-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--单个文件最大数量-->
      <param name="MaximumFileSize" value="1KB"/>
      <!-- 旧日志文件自动重命名并生成新日志文件-->
      <param name="preserveLogFileNameExtension" value="false" />
      <param name="StaticLogFileName" value="false"/>
      <!--是否固定文件名-->
      <!--内容布局-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %l %-5p %c [%x] - %m%n"/>
        <!--输出格式化-->
      </layout>
    </appender>
  </log4net>
</configuration>