<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpBinding_IMessageService">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
      <client>
        <endpoint binding="netTcpBinding"
          bindingConfiguration="NetTcpBinding_IMessageService" contract="Artech.WcfServices.Service.Interface.IMessageService"
          name="NetTcpBinding_IMessageService" />
      </client>
    </system.serviceModel>
</configuration>